--
-- PostgreSQL database dump
--

-- Dumped from database version 14.17
-- Dumped by pg_dump version 14.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: nilai; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA nilai;


ALTER SCHEMA nilai OWNER TO postgres;

--
-- Name: projec; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA projec;


ALTER SCHEMA projec OWNER TO postgres;

--
-- Name: tambah; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tambah;


ALTER SCHEMA tambah OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: nilai; Owner: postgres
--

CREATE FUNCTION nilai.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION nilai.uuid_generate_v4() OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: projec; Owner: postgres
--

CREATE FUNCTION projec.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION projec.uuid_generate_v4() OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION public.uuid_generate_v4() OWNER TO postgres;

--
-- Name: uuid_generate_v4(); Type: FUNCTION; Schema: tambah; Owner: postgres
--

CREATE FUNCTION tambah.uuid_generate_v4() RETURNS uuid
    LANGUAGE c STRICT
    AS '$libdir/uuid-ossp', 'uuid_generate_v4';


ALTER FUNCTION tambah.uuid_generate_v4() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: data_sync; Type: TABLE; Schema: nilai; Owner: postgres
--

CREATE TABLE nilai.data_sync (
    sync_id uuid DEFAULT nilai.uuid_generate_v4() NOT NULL,
    semester_id character varying(5) NOT NULL,
    tabel_sync character varying(60) NOT NULL,
    start_sync timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.578379'::timestamp without time zone,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL
);


ALTER TABLE nilai.data_sync OWNER TO postgres;

--
-- Name: matev_rapor; Type: TABLE; Schema: nilai; Owner: postgres
--

CREATE TABLE nilai.matev_rapor (
    id_evaluasi uuid DEFAULT nilai.uuid_generate_v4() NOT NULL,
    nm_mata_evaluasi character varying(50) NOT NULL,
    a_dari_template numeric(1,0) NOT NULL,
    no_urut numeric(3,0) NOT NULL,
    kkm_kognitif numeric(5,2),
    kkm_psikomotorik numeric(5,2),
    rombongan_belajar_id uuid NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    pembelajaran_id uuid,
    create_date timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.367005'::timestamp without time zone NOT NULL,
    last_update timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.367005'::timestamp without time zone NOT NULL,
    soft_delete numeric(1,0) DEFAULT 0 NOT NULL,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL,
    updater_id uuid NOT NULL,
    semester_id character varying(5),
    semester numeric(2,0),
    a_dari_template_str character varying(100) DEFAULT 'Nilai Rapor'::character varying
);


ALTER TABLE nilai.matev_rapor OWNER TO postgres;

--
-- Name: nilai_ekskul; Type: TABLE; Schema: nilai; Owner: postgres
--

CREATE TABLE nilai.nilai_ekskul (
    id_nilai_x uuid DEFAULT nilai.uuid_generate_v4() NOT NULL,
    id_kelas_ekskul uuid NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    nilai_angka numeric(5,2) NOT NULL,
    nilai_huruf character varying(3),
    ket character varying(300),
    a_beku numeric(1,0) DEFAULT 1 NOT NULL,
    rapor_ke numeric(2,0),
    create_date timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.555141'::timestamp without time zone NOT NULL,
    last_update timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.555141'::timestamp without time zone NOT NULL,
    soft_delete numeric(1,0) DEFAULT 0 NOT NULL,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL,
    updater_id uuid NOT NULL,
    semester_id character varying(5),
    semester numeric(2,0)
);


ALTER TABLE nilai.nilai_ekskul OWNER TO postgres;

--
-- Name: nilai_rapor; Type: TABLE; Schema: nilai; Owner: postgres
--

CREATE TABLE nilai.nilai_rapor (
    nilai_id uuid DEFAULT nilai.uuid_generate_v4() NOT NULL,
    id_evaluasi uuid NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    nilai_kognitif_angka numeric(5,2) NOT NULL,
    nilai_kognitif_huruf character varying(3),
    ket_kognitif character varying(300),
    nilai_psim_angka numeric(5,2),
    nilai_psim_huruf character varying(3),
    ket_psim character varying(300),
    nilai_afektif_angka numeric(5,2),
    nilai_afektif_huruf character varying(3),
    ket_afektif character varying(300),
    nilai_afektif2_angka numeric(5,2),
    nilai_afektif2_huruf character varying(3),
    ket_afektif2 character varying(300),
    a_beku numeric(1,0) DEFAULT 1 NOT NULL,
    rapor_ke numeric(2,0),
    create_date timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.578379'::timestamp without time zone NOT NULL,
    last_update timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.578379'::timestamp without time zone NOT NULL,
    soft_delete numeric(1,0) DEFAULT 0 NOT NULL,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL,
    updater_id uuid NOT NULL,
    semester_id character varying(5),
    semester numeric(2,0)
);


ALTER TABLE nilai.nilai_rapor OWNER TO postgres;

--
-- Name: nilai_smt; Type: TABLE; Schema: nilai; Owner: postgres
--

CREATE TABLE nilai.nilai_smt (
    anggota_rombel_id uuid NOT NULL,
    nilai_afektif_angka numeric(5,2),
    nilai_afektif_huruf character varying(3),
    ket_afektif character varying(300),
    nilai_afektif2_angka numeric(5,2),
    nilai_afektif2_huruf character varying(3),
    ket_afektif2 character varying(300),
    a_beku numeric(1,0) DEFAULT 1 NOT NULL,
    rapor_ke numeric(2,0),
    create_date timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.615745'::timestamp without time zone NOT NULL,
    last_update timestamp(6) without time zone DEFAULT '2019-09-10 14:29:57.615745'::timestamp without time zone NOT NULL,
    soft_delete numeric(1,0) DEFAULT 0 NOT NULL,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL,
    updater_id uuid NOT NULL,
    semester_id character varying(5),
    semester numeric(2,0)
);


ALTER TABLE nilai.nilai_smt OWNER TO postgres;

--
-- Name: pengguna; Type: TABLE; Schema: nilai; Owner: postgres
--

CREATE TABLE nilai.pengguna (
    pengguna_id uuid NOT NULL,
    sekolah_id uuid NOT NULL,
    username character varying(150) NOT NULL,
    nama character varying(150) NOT NULL,
    peran_id_str character varying(100) NOT NULL
);


ALTER TABLE nilai.pengguna OWNER TO postgres;

--
-- Name: temp_nilai_rapor; Type: TABLE; Schema: nilai; Owner: postgres
--

CREATE TABLE nilai.temp_nilai_rapor (
    nilai_id uuid DEFAULT nilai.uuid_generate_v4() NOT NULL,
    id_evaluasi uuid NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    nilai_kognitif_angka numeric(5,2) NOT NULL,
    nilai_kognitif_huruf character varying(3),
    ket_kognitif character varying(300) DEFAULT 'Pada Aplikasi e-Rapor'::character varying,
    nilai_psim_angka numeric(5,2),
    nilai_psim_huruf character varying(3),
    ket_psim character varying(300) DEFAULT 'Pada Aplikasi e-Rapor'::character varying,
    nilai_afektif_angka numeric(5,2),
    nilai_afektif_huruf character varying(3),
    ket_afektif character varying(300),
    nilai_afektif2_angka numeric(5,2),
    nilai_afektif2_huruf character varying(3),
    ket_afektif2 character varying(300),
    a_beku numeric(1,0) DEFAULT 1 NOT NULL,
    rapor_ke numeric(2,0) DEFAULT 1 NOT NULL,
    create_date timestamp(6) without time zone DEFAULT (now())::timestamp without time zone NOT NULL,
    last_update timestamp(6) without time zone DEFAULT (now())::timestamp without time zone NOT NULL,
    soft_delete numeric(1,0) DEFAULT 0 NOT NULL,
    last_sync timestamp(6) without time zone DEFAULT '2025-01-01 00:00:00'::timestamp without time zone NOT NULL,
    updater_id uuid NOT NULL,
    semester_id character varying(5),
    semester numeric(2,0),
    pembelajaran_id uuid NOT NULL
);


ALTER TABLE nilai.temp_nilai_rapor OWNER TO postgres;

--
-- Name: un; Type: TABLE; Schema: nilai; Owner: postgres
--

CREATE TABLE nilai.un (
    un_id uuid NOT NULL,
    registrasi_id uuid NOT NULL,
    tahun_ajaran_id numeric(4,0) NOT NULL,
    un_tgl_daftar date NOT NULL,
    nomor_un character varying(20),
    no_skhun character(20),
    nilai_1 numeric(5,2),
    nilai_2 numeric(5,2),
    nilai_3 numeric(5,2),
    nilai_4 numeric(5,2),
    nilai_5 numeric(5,2),
    nilai_6 numeric(5,2),
    nilai_7 numeric(5,2),
    template_id uuid NOT NULL,
    create_date timestamp(6) without time zone DEFAULT '2019-09-10 14:30:00.045604'::timestamp without time zone NOT NULL,
    last_update timestamp(6) without time zone DEFAULT '2019-09-10 14:30:00.045604'::timestamp without time zone NOT NULL,
    soft_delete numeric(1,0) NOT NULL,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL,
    updater_id uuid NOT NULL
);


ALTER TABLE nilai.un OWNER TO postgres;

--
-- Name: dpl_perkembangan; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.dpl_perkembangan (
    id_perkembangan uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_subdimensi uuid NOT NULL,
    jenjang character varying(20) NOT NULL,
    berkembang text,
    cakap text,
    mahir text
);


ALTER TABLE projec.dpl_perkembangan OWNER TO postgres;

--
-- Name: dpl_subdimensi; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.dpl_subdimensi (
    id_subdimensi uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_dimensi uuid,
    nama_subdimensi character varying(200),
    urut smallint
);


ALTER TABLE projec.dpl_subdimensi OWNER TO postgres;

--
-- Name: kegiatan_kokurikuler; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.kegiatan_kokurikuler (
    id_kegiatan uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_tema uuid,
    nama_kegiatan character varying(250),
    fase character varying(1),
    tujuan_akhir text,
    deskripsi_kegiatan text,
    nomor smallint
);


ALTER TABLE projec.kegiatan_kokurikuler OWNER TO postgres;

--
-- Name: nilai_catatanprojek; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.nilai_catatanprojek (
    id_nilcatprojec uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    anggota_kelompok_id uuid,
    peserta_didik_id uuid,
    th_ajaran character varying(4) NOT NULL,
    fase character varying(1),
    id_project uuid NOT NULL,
    deskripsi text,
    kelompok_id uuid NOT NULL
);


ALTER TABLE projec.nilai_catatanprojek OWNER TO postgres;

--
-- Name: nilai_profil_projek; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.nilai_profil_projek (
    id_nil_projek uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    kelompok_id uuid NOT NULL,
    anggota_kelompok_id uuid NOT NULL,
    peserta_didik_id uuid NOT NULL,
    th_ajaran character varying(4) NOT NULL,
    fase character varying(1) NOT NULL,
    id_profil_projek uuid NOT NULL,
    nilai character varying(4) NOT NULL,
    nilai_angka smallint
);


ALTER TABLE projec.nilai_profil_projek OWNER TO postgres;

--
-- Name: profil_capaian; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.profil_capaian (
    id_capaian uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_subelemen uuid,
    fase character varying(1),
    nama_capaian text
);


ALTER TABLE projec.profil_capaian OWNER TO postgres;

--
-- Name: profil_dimensi; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.profil_dimensi (
    id_dimensi uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    nama_dimensi character varying(150),
    urut smallint
);


ALTER TABLE projec.profil_dimensi OWNER TO postgres;

--
-- Name: profil_elemen; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.profil_elemen (
    id_elemen uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_dimensi uuid,
    nama_elemen character varying(200),
    urut smallint
);


ALTER TABLE projec.profil_elemen OWNER TO postgres;

--
-- Name: profil_lulusan; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.profil_lulusan (
    id_dimensi uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    nama_dimensi character varying(150),
    urut smallint
);


ALTER TABLE projec.profil_lulusan OWNER TO postgres;

--
-- Name: profil_project; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.profil_project (
    id_project uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_tema uuid,
    nama_project character varying(250),
    fase character varying(1),
    deskripsi_project text,
    status smallint
);


ALTER TABLE projec.profil_project OWNER TO postgres;

--
-- Name: profil_subelemen; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.profil_subelemen (
    id_subelemen uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_elemen uuid,
    nama_subelemen character varying(255)
);


ALTER TABLE projec.profil_subelemen OWNER TO postgres;

--
-- Name: profil_tema; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.profil_tema (
    id_tema uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    nama_tema character varying(250),
    urut smallint
);


ALTER TABLE projec.profil_tema OWNER TO postgres;

--
-- Name: project_capaianprofil; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.project_capaianprofil (
    id_profil_projek uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_project uuid NOT NULL,
    fase character varying(1) NOT NULL,
    jenjang character varying(20) NOT NULL,
    id_subelemen uuid NOT NULL,
    id_capaian uuid NOT NULL,
    status numeric(1,0) NOT NULL
);


ALTER TABLE projec.project_capaianprofil OWNER TO postgres;

--
-- Name: ref_penilaian; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.ref_penilaian (
    kd_nilai character varying(4) NOT NULL,
    nama_nil character varying(100),
    desk_nilai character varying(255)
);


ALTER TABLE projec.ref_penilaian OWNER TO postgres;

--
-- Name: tabel_anggotakelompok; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_anggotakelompok (
    anggota_kelompok_id uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    peserta_didik_id uuid NOT NULL,
    kelompok_id uuid NOT NULL,
    th_ajaran character varying(4) NOT NULL,
    fase character varying(1)
);


ALTER TABLE projec.tabel_anggotakelompok OWNER TO postgres;

--
-- Name: tabel_anggotaklp_kokurikuler; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_anggotaklp_kokurikuler (
    anggota_kelompok_id uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    peserta_didik_id uuid NOT NULL,
    kelompok_id uuid NOT NULL,
    semester_id character varying(5) NOT NULL,
    fase character varying(1)
);


ALTER TABLE projec.tabel_anggotaklp_kokurikuler OWNER TO postgres;

--
-- Name: tabel_deskripsikurikuler; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_deskripsikurikuler (
    nilai_id uuid NOT NULL,
    peserta_didik_id uuid,
    semester_id character varying(5) NOT NULL,
    deskripsi text
);


ALTER TABLE projec.tabel_deskripsikurikuler OWNER TO postgres;

--
-- Name: tabel_kelompok; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_kelompok (
    kelompok_id uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    sekolah_id uuid NOT NULL,
    th_ajaran character varying(4) NOT NULL,
    ptk_id uuid,
    nm_kelompok character varying(30),
    tingkat_pendidikan_id numeric(2,0),
    status numeric(1,0) DEFAULT 1,
    fase character varying(1)
);


ALTER TABLE projec.tabel_kelompok OWNER TO postgres;

--
-- Name: tabel_kelompok_projek; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_kelompok_projek (
    klp_projek_id uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    kelompok_id uuid NOT NULL,
    id_project uuid NOT NULL,
    th_ajaran character varying(4) NOT NULL,
    fase character varying(1) NOT NULL,
    status numeric(1,0) DEFAULT 1
);


ALTER TABLE projec.tabel_kelompok_projek OWNER TO postgres;

--
-- Name: tabel_klp_kokurikuler; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_klp_kokurikuler (
    kelompok_id uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    sekolah_id uuid NOT NULL,
    semester_id character varying(5) NOT NULL,
    ptk_id uuid,
    nm_kelompok character varying(30),
    tingkat_pendidikan_id numeric(2,0),
    status numeric(1,0) DEFAULT 1,
    fase character varying(1)
);


ALTER TABLE projec.tabel_klp_kokurikuler OWNER TO postgres;

--
-- Name: tabel_kokurikuler_perklp; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_kokurikuler_perklp (
    idklp_kokurikuler uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    kelompok_id uuid NOT NULL,
    id_kegiatan uuid NOT NULL,
    semester_id character varying(5) NOT NULL,
    fase character varying(1) NOT NULL,
    status numeric(1,0) DEFAULT 1
);


ALTER TABLE projec.tabel_kokurikuler_perklp OWNER TO postgres;

--
-- Name: tabel_nilaikurikuler; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_nilaikurikuler (
    nilai_id uuid NOT NULL,
    peserta_didik_id uuid,
    kelompok_id uuid,
    anggota_kelompok_id uuid,
    semester_id character varying(5) NOT NULL,
    idklp_kokurikuler uuid,
    nilai_angka numeric(5,2),
    nilai_huruf character varying(5),
    item_dpl_optimal text,
    item_dpl_minimal text,
    deskripsi_optimal text,
    deskripsi_minimal text
);


ALTER TABLE projec.tabel_nilaikurikuler OWNER TO postgres;

--
-- Name: tabel_nildplkokurikuler; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tabel_nildplkokurikuler (
    nilai_id uuid NOT NULL,
    peserta_didik_id uuid,
    kelompok_id uuid,
    anggota_kelompok_id uuid,
    semester_id character varying(5) NOT NULL,
    idklp_kokurikuler uuid,
    id_dimensi uuid NOT NULL,
    id_sudimensi uuid,
    nilai numeric(5,0) NOT NULL
);


ALTER TABLE projec.tabel_nildplkokurikuler OWNER TO postgres;

--
-- Name: targetcapaian_kokurikuler; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.targetcapaian_kokurikuler (
    id_target uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    id_kegiatan uuid NOT NULL,
    fase character varying(1) NOT NULL,
    jenjang character varying(20) NOT NULL,
    id_subdimensi uuid NOT NULL,
    status numeric(1,0) NOT NULL
);


ALTER TABLE projec.targetcapaian_kokurikuler OWNER TO postgres;

--
-- Name: tema_kokurikuler; Type: TABLE; Schema: projec; Owner: postgres
--

CREATE TABLE projec.tema_kokurikuler (
    id_tema uuid DEFAULT projec.uuid_generate_v4() NOT NULL,
    nama_tema character varying(250),
    urut smallint,
    status character varying(1)
);


ALTER TABLE projec.tema_kokurikuler OWNER TO postgres;

--
-- Name: jurusan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jurusan (
    jurusan_id character varying(25) NOT NULL,
    nama_jurusan character varying(100) NOT NULL,
    untuk_sma numeric(1,0) NOT NULL,
    untuk_smk numeric(1,0) NOT NULL,
    untuk_pt numeric(1,0) NOT NULL,
    untuk_slb numeric(1,0) NOT NULL,
    untuk_smklb numeric(1,0) NOT NULL,
    jenjang_pendidikan_id numeric(2,0),
    jurusan_induk character varying(25),
    level_bidang_id character varying(5) NOT NULL,
    create_date timestamp(6) without time zone NOT NULL,
    last_update timestamp(6) without time zone NOT NULL,
    expired_date timestamp(6) without time zone,
    last_sync timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.jurusan OWNER TO postgres;

--
-- Name: loginstatus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.loginstatus (
    userid character varying(50) NOT NULL,
    mulai timestamp(6) without time zone NOT NULL,
    status numeric(1,0)
);


ALTER TABLE public.loginstatus OWNER TO postgres;

--
-- Name: ref_klp_mapel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_klp_mapel (
    klp_id integer NOT NULL,
    jns_klp character varying(5) NOT NULL,
    nama character varying(50) NOT NULL,
    jenjang character varying(20) NOT NULL,
    status numeric(1,0) NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.ref_klp_mapel OWNER TO postgres;

--
-- Name: ref_mapeldapo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_mapeldapo (
    mata_pelajaran_id integer NOT NULL,
    nm_mapel character varying(150),
    jurusan_id character varying(25)
);


ALTER TABLE public.ref_mapeldapo OWNER TO postgres;

--
-- Name: ref_teknik; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_teknik (
    teknik_id integer NOT NULL,
    nama_teknik character varying(50) NOT NULL,
    status numeric(1,0) NOT NULL
);


ALTER TABLE public.ref_teknik OWNER TO postgres;

--
-- Name: ref_teknik_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ref_teknik_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ref_teknik_id_seq OWNER TO postgres;

--
-- Name: ref_teknik_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ref_teknik_id_seq OWNED BY public.ref_teknik.teknik_id;


--
-- Name: ref_tingkatkelas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_tingkatkelas (
    tingkat_pendidikan_id numeric(2,0) NOT NULL,
    jenjang character varying(20),
    kode_tingkat character varying(30),
    nm_tingkat character varying(100),
    jurusan_sp_id uuid,
    nama_jurusan_sp character varying(100),
    keterangan character varying(150)
);


ALTER TABLE public.ref_tingkatkelas OWNER TO postgres;

--
-- Name: refekstra_kurikuler; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refekstra_kurikuler (
    id_ekskul integer NOT NULL,
    nm_ekskul character varying(80),
    u_sd numeric(1,0) DEFAULT 0 NOT NULL,
    u_smp numeric(1,0) DEFAULT 0 NOT NULL,
    u_sma numeric(1,0) DEFAULT 0 NOT NULL,
    u_smk numeric(1,0) DEFAULT 0 NOT NULL
);


ALTER TABLE public.refekstra_kurikuler OWNER TO postgres;

--
-- Name: semester; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.semester (
    semester_id character varying(5) NOT NULL,
    tahun_ajaran_id character varying(4) NOT NULL,
    nama_semester character varying(20) NOT NULL,
    semester numeric(1,0) NOT NULL,
    periode_aktif character varying(1) NOT NULL,
    tanggal_mulai date NOT NULL,
    tanggal_selesai date NOT NULL
);


ALTER TABLE public.semester OWNER TO postgres;

--
-- Name: status_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.status_data (
    semester_id character varying(5) NOT NULL,
    aktif_data numeric(1,0) NOT NULL,
    keterangan character varying(100) NOT NULL
);


ALTER TABLE public.status_data OWNER TO postgres;

--
-- Name: status_input; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.status_input (
    semester_id character varying(5) NOT NULL,
    aktif_data numeric(1,0) NOT NULL,
    keterangan character varying(100) NOT NULL
);


ALTER TABLE public.status_input OWNER TO postgres;

--
-- Name: tabel_anggotakelas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_anggotakelas (
    anggota_rombel_id uuid NOT NULL,
    peserta_didik_id uuid NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    semester_id character varying(5) NOT NULL
);


ALTER TABLE public.tabel_anggotakelas OWNER TO postgres;

--
-- Name: tabel_antar_mapel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_antar_mapel (
    id_antar_mapel uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    otomatis text,
    sosial text,
    keterangan text,
    keterangansos text,
    peserta_didik_id uuid,
    sikap character varying(3),
    sikapsos character varying(3),
    khusus integer,
    semester numeric(1,0)
);


ALTER TABLE public.tabel_antar_mapel OWNER TO postgres;

--
-- Name: tabel_capaiantp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_capaiantp (
    id_kompetensi uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    tingkat_pendidikan_id numeric(2,0) NOT NULL,
    semester numeric(1,0) NOT NULL,
    jenis character varying(1) NOT NULL,
    kd_kompetensi character varying(6) NOT NULL,
    kompetensi text NOT NULL,
    ringkasan_kompetensi text,
    bidang numeric(1,0),
    status numeric(1,0) DEFAULT 1,
    jenjang character varying(20)
);


ALTER TABLE public.tabel_capaiantp OWNER TO postgres;

--
-- Name: tabel_cat_wali; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_cat_wali (
    sikap_id uuid NOT NULL,
    rombongan_belajar_id uuid,
    peserta_didik_id uuid,
    semester_id character varying(5),
    deskripsi text,
    deskripsi1 text,
    semester numeric(1,0)
);


ALTER TABLE public.tabel_cat_wali OWNER TO postgres;

--
-- Name: tabel_deskripsi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_deskripsi (
    deskripsi_id uuid NOT NULL,
    mata_pelajaran_id integer,
    rombongan_belajar_id uuid,
    peserta_didik_id uuid,
    deskripsi_peng_o text,
    deskripsi_peng_m text,
    deskripsi_ket_o text,
    deskripsi_ket_m text,
    deskripsi_sik_o text,
    deskripsi_sik_m text,
    deskripsi_siksos_o text,
    deskripsi_siksos_m text,
    semester_id character varying(5),
    id_minat character varying(2),
    anggota_rombel_id uuid,
    semester numeric(1,0)
);


ALTER TABLE public.tabel_deskripsi OWNER TO postgres;

--
-- Name: tabel_deskripsi_tengah; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_deskripsi_tengah (
    deskripsi_id uuid NOT NULL,
    mata_pelajaran_id integer,
    rombongan_belajar_id uuid,
    peserta_didik_id uuid,
    deskripsi_peng_o text,
    deskripsi_peng_m text,
    deskripsi_ket_o text,
    deskripsi_ket_m text,
    deskripsi_sik_o text,
    deskripsi_sik_m text,
    deskripsi_siksos_o text,
    deskripsi_siksos_m text,
    semester_id character varying(5),
    id_minat character varying(2),
    anggota_rombel_id uuid,
    semester numeric(1,0)
);


ALTER TABLE public.tabel_deskripsi_tengah OWNER TO postgres;

--
-- Name: tabel_ekstra; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_ekstra (
    id_ekstra uuid NOT NULL,
    nama_ekstra character varying(30),
    id_ekskul integer
);


ALTER TABLE public.tabel_ekstra OWNER TO postgres;

--
-- Name: tabel_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_info (
    id_info integer NOT NULL,
    v_app character varying(10) NOT NULL,
    v_db character varying(10) NOT NULL,
    pesan character varying(100) NOT NULL,
    tanggal timestamp(6) without time zone NOT NULL,
    tampil numeric(1,0)
);


ALTER TABLE public.tabel_info OWNER TO postgres;

--
-- Name: tabel_jurusan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_jurusan (
    jurusan_id character varying(25) NOT NULL,
    nama_jurusan_sp character varying(100),
    kurikulum character varying(120),
    jurusan_sp_id uuid,
    kurikulum_id smallint,
    sekolah_id uuid
);


ALTER TABLE public.tabel_jurusan OWNER TO postgres;

--
-- Name: tabel_kehadiran; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_kehadiran (
    kd_kehadiran uuid NOT NULL,
    semester_id character varying(5) NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    sakit numeric(3,0),
    izin numeric(3,0),
    tanpa_keterangan numeric(3,0),
    peserta_didik_id uuid,
    semester numeric(1,0)
);


ALTER TABLE public.tabel_kehadiran OWNER TO postgres;

--
-- Name: tabel_kelas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_kelas (
    rombongan_belajar_id uuid NOT NULL,
    sekolah_id uuid NOT NULL,
    semester_id character varying(5) NOT NULL,
    jurusan_id character varying(25),
    ptk_id uuid,
    nm_kelas character varying(30),
    tingkat_pendidikan_id numeric(2,0),
    jenis_rombel numeric(2,0),
    nama_jurusan_sp character varying(100),
    jurusan_sp_id uuid,
    kurikulum_id smallint NOT NULL,
    program character varying(150),
    konsentrasi character varying(150)
);


ALTER TABLE public.tabel_kelas OWNER TO postgres;

--
-- Name: tabel_kelas_ekskul; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_kelas_ekskul (
    id_kelas_ekskul uuid NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    id_ekskul integer NOT NULL,
    nm_ekskul character varying(80) NOT NULL,
    sk_ekskul character varying(80) NOT NULL,
    tgl_sk_ekskul date,
    jam_kegiatan_per_minggu numeric(2,0)
);


ALTER TABLE public.tabel_kelas_ekskul OWNER TO postgres;

--
-- Name: tabel_kenaikan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_kenaikan (
    kd_kenaikan uuid NOT NULL,
    semester_id character varying(5) NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    peserta_didik_id uuid,
    kenaikan numeric(3,0),
    tingkat numeric(3,0)
);


ALTER TABLE public.tabel_kenaikan OWNER TO postgres;

--
-- Name: tabel_kkm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_kkm (
    id_kkm uuid NOT NULL,
    mata_pelajaran_id integer,
    tingkat_pendidikan_id numeric(2,0),
    semester_id character varying(5),
    kkm numeric(2,0),
    jjm numeric(2,0),
    jurusan_id character varying(25)
);


ALTER TABLE public.tabel_kkm OWNER TO postgres;

--
-- Name: tabel_kurikulum; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_kurikulum (
    kurikulum_id smallint NOT NULL,
    nama_kurikulum character varying(120) NOT NULL,
    mulai_berlaku date NOT NULL,
    sistem_sks numeric(1,0) NOT NULL,
    total_sks numeric(3,0) NOT NULL,
    jenjang_pendidikan_id numeric(2,0) NOT NULL,
    jurusan_id character varying(25),
    create_date timestamp(6) without time zone NOT NULL,
    last_update timestamp(6) without time zone NOT NULL,
    expired_date timestamp(6) without time zone,
    last_sync timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.tabel_kurikulum OWNER TO postgres;

--
-- Name: tabel_map_mapelk2013; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_map_mapelk2013 (
    id_map_mapel uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    nm_lokal character varying(100),
    area_kompetensi character varying(2),
    klp_mpl smallint NOT NULL,
    kurikulum_id smallint NOT NULL,
    urut_rapor integer,
    tingkat_pendidikan_id numeric(2,0)
);


ALTER TABLE public.tabel_map_mapelk2013 OWNER TO postgres;

--
-- Name: tabel_map_mapelskl; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_map_mapelskl (
    id_map_mapel uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    nm_lokal character varying(100),
    area_kompetensi character varying(2),
    klp_mpl smallint NOT NULL,
    kurikulum_id smallint NOT NULL,
    urut_skl integer,
    tingkat_pendidikan_id numeric(2,0)
);


ALTER TABLE public.tabel_map_mapelskl OWNER TO postgres;

--
-- Name: tabel_mapel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_mapel (
    mata_pelajaran_id integer NOT NULL,
    nm_mapel character varying(150),
    kelompok character varying(2),
    semester numeric(1,0),
    jurusan_id character varying(25),
    urut_rapor integer,
    nm_lokal character varying(150),
    nm_ringkas character varying(10)
);


ALTER TABLE public.tabel_mapel OWNER TO postgres;

--
-- Name: tabel_nilai_dplguru; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nilai_dplguru (
    id_dpl uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    peserta_didik_id uuid NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    semester_id character varying(5) NOT NULL,
    ptk_id uuid NOT NULL,
    id_dimensi uuid NOT NULL,
    nilai numeric(5,0) NOT NULL
);


ALTER TABLE public.tabel_nilai_dplguru OWNER TO postgres;

--
-- Name: tabel_nilai_ekstra; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nilai_ekstra (
    kd_nilai_ekstra uuid NOT NULL,
    semester_id character varying(5) NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    id_ekstra uuid NOT NULL,
    nilai_ekstra character varying(3),
    deskripsi text,
    peserta_didik_id uuid,
    id_kelas_ekskul uuid,
    ekskul_rombel_id uuid,
    id_ekskul_baru integer NOT NULL,
    semester numeric(1,0)
);


ALTER TABLE public.tabel_nilai_ekstra OWNER TO postgres;

--
-- Name: tabel_nilai_formatif; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nilai_formatif (
    formatif_id uuid NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    peserta_didik_id uuid NOT NULL,
    id_kompetensi uuid NOT NULL,
    nilai numeric(5,2) NOT NULL,
    teknik_id integer NOT NULL,
    semester_id character varying(5) NOT NULL,
    penilaian_ke smallint NOT NULL
);


ALTER TABLE public.tabel_nilai_formatif OWNER TO postgres;

--
-- Name: tabel_nilai_karakter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nilai_karakter (
    id_nilai uuid NOT NULL,
    rombongan_belajar_id uuid,
    anggota_rombel_id uuid,
    peserta_didik_id uuid,
    dimensi1 text,
    dimensi2 text,
    dimensi3 text,
    dimensi4 text,
    dimensi5 text,
    dimensi6 text,
    semester_id character varying(5),
    semester numeric(1,0)
);


ALTER TABLE public.tabel_nilai_karakter OWNER TO postgres;

--
-- Name: tabel_nilai_p3guru; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nilai_p3guru (
    id_p3 uuid NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    peserta_didik_id uuid NOT NULL,
    id_subelemen uuid,
    nilai numeric(5,0) NOT NULL,
    dimensi integer NOT NULL,
    semester_id character varying(5) NOT NULL,
    id_elemen uuid NOT NULL,
    ptk_id uuid NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    id_dimensi uuid
);


ALTER TABLE public.tabel_nilai_p3guru OWNER TO postgres;

--
-- Name: tabel_nilaiakhir; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nilaiakhir (
    id_nilai_akhir uuid NOT NULL,
    anggota_rombel_id uuid,
    mata_pelajaran_id integer,
    semester_id character varying(5),
    nilai_peng numeric(5,0),
    predikat_peng character varying(1),
    nilai_ket numeric(5,0),
    predikat_ket character varying(1),
    nilai_sik numeric(2,0),
    predikat_sik character varying(15),
    nilai_siksos numeric(2,0),
    predikat_siksos character varying(15),
    peserta_didik_id uuid,
    id_minat character varying(2),
    semester numeric(1,0)
);


ALTER TABLE public.tabel_nilaiakhir OWNER TO postgres;

--
-- Name: tabel_nilaiskl; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nilaiskl (
    id_nilai_skl uuid NOT NULL,
    semester_id character varying(5),
    sekolah_id uuid NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    anggota_rombel_id uuid,
    peserta_didik_id uuid,
    mata_pelajaran_id integer,
    kurikulum_id smallint NOT NULL,
    nilai numeric(5,2)
);


ALTER TABLE public.tabel_nilaiskl OWNER TO postgres;

--
-- Name: tabel_nilaitengah; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nilaitengah (
    id_nilai_akhir uuid NOT NULL,
    anggota_rombel_id uuid,
    mata_pelajaran_id integer,
    semester_id character varying(5),
    nilai_peng numeric(5,0),
    predikat_peng character varying(1),
    nilai_ket numeric(5,0),
    predikat_ket character varying(1),
    nilai_sik numeric(2,0),
    predikat_sik character varying(15),
    nilai_siksos numeric(2,0),
    predikat_siksos character varying(15),
    peserta_didik_id uuid,
    id_minat character varying(2),
    semester numeric(1,0)
);


ALTER TABLE public.tabel_nilaitengah OWNER TO postgres;

--
-- Name: tabel_nildplguru; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_nildplguru (
    id_dpl uuid NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    peserta_didik_id uuid NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    ptk_id uuid NOT NULL,
    id_dimensi uuid NOT NULL,
    id_sudimensi uuid,
    semester_id character varying(5) NOT NULL,
    nilai numeric(5,0) NOT NULL
);


ALTER TABLE public.tabel_nildplguru OWNER TO postgres;

--
-- Name: tabel_pembelajaran; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_pembelajaran (
    pembelajaran_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    semester_id character varying(5) NOT NULL,
    ptk_terdaftar_id uuid,
    status_di_kurikulum numeric(2,0),
    nama_mata_pelajaran character varying(100),
    induk_pembelajaran uuid,
    is_dapo numeric(1,0) DEFAULT 1
);


ALTER TABLE public.tabel_pembelajaran OWNER TO postgres;

--
-- Name: tabel_ptk; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_ptk (
    ptk_id uuid NOT NULL,
    nama character varying(100) NOT NULL,
    nip character varying(18),
    jenis_ptk_id numeric(2,0) NOT NULL,
    jenis_kelamin character varying(1) NOT NULL,
    tempat_lahir character varying(32) NOT NULL,
    tanggal_lahir date NOT NULL,
    nuptk character varying(16),
    alamat_jalan character varying(80),
    status_keaktifan_id numeric(2,0) NOT NULL,
    soft_delete numeric(1,0) NOT NULL
);


ALTER TABLE public.tabel_ptk OWNER TO postgres;

--
-- Name: tabel_ptk_pelengkap; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_ptk_pelengkap (
    ptk_pelengkap_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ptk_id uuid NOT NULL,
    gelar_depan character varying(20),
    gelar_belakang character varying(20),
    nip_niy character varying(18)
);


ALTER TABLE public.tabel_ptk_pelengkap OWNER TO postgres;

--
-- Name: tabel_ptk_terdaftar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_ptk_terdaftar (
    ptk_terdaftar_id uuid NOT NULL,
    ptk_id uuid NOT NULL,
    tahun_ajaran_id character varying(4),
    jenis_keluar_id character(1),
    soft_delete numeric(1,0) NOT NULL,
    sekolah_id uuid
);


ALTER TABLE public.tabel_ptk_terdaftar OWNER TO postgres;

--
-- Name: tabel_ptspas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_ptspas (
    id_ptspas uuid NOT NULL,
    semester_id character varying(5),
    mata_pelajaran_id integer NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    peserta_didik_id uuid NOT NULL,
    anggota_rombel_id uuid NOT NULL,
    nil_pts numeric(5,2),
    nil_pas numeric(5,2)
);


ALTER TABLE public.tabel_ptspas OWNER TO postgres;

--
-- Name: tabel_registrasi_pd; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_registrasi_pd (
    registrasi_id uuid NOT NULL,
    jurusan_sp_id uuid,
    peserta_didik_id uuid NOT NULL,
    sekolah_id uuid NOT NULL,
    jenis_pendaftaran_id numeric(1,0) NOT NULL,
    nipd character varying(18),
    tanggal_masuk_sekolah date NOT NULL,
    jenis_keluar_id character(1),
    tanggal_keluar date,
    keterangan character varying(128),
    no_skhun character(20),
    no_peserta_ujian character(20),
    no_seri_ijazah character varying(80),
    a_pernah_paud numeric(1,0) DEFAULT 0 NOT NULL,
    a_pernah_tk numeric(1,0) DEFAULT 0 NOT NULL,
    sekolah_asal character varying(100),
    id_hobby numeric(5,0) NOT NULL,
    id_cita numeric(5,0) NOT NULL,
    last_update timestamp(6) without time zone DEFAULT now() NOT NULL,
    soft_delete numeric(1,0) NOT NULL,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL,
    updater_id uuid NOT NULL
);


ALTER TABLE public.tabel_registrasi_pd OWNER TO postgres;

--
-- Name: tabel_sekolah; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_sekolah (
    sekolah_id uuid NOT NULL,
    nama character varying(100) NOT NULL,
    npsn character varying(8),
    nss character varying(12),
    alamat text,
    kd_pos character varying(6),
    telepon character varying(20),
    fax character varying(20),
    kelurahan character varying(60),
    kecamatan character varying(60),
    kab_kota character varying(60),
    propinsi character varying(60),
    website character varying(100),
    email character varying(50),
    nm_kepsek character varying(100),
    nip_kepsek character varying(25),
    niy_kepsek character varying(30),
    status_kepemilikan_id numeric(1,0) NOT NULL,
    kode_aktivasi character varying(30),
    jenjang character varying(20),
    bentuk_pendidikan_id smallint
);


ALTER TABLE public.tabel_sekolah OWNER TO postgres;

--
-- Name: tabel_setskl; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_setskl (
    setskl_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tahun_ajaran_id character varying(4) NOT NULL,
    judul_1 character varying(100),
    nomor_skl character varying(100),
    judul_2 character varying(100),
    isi_text1 text,
    identitas_id1 character varying(2),
    identitas_id2 character varying(2),
    identitas_id3 character varying(2),
    identitas_id4 character varying(2),
    identitas_id5 character varying(2),
    identitas_id6 character varying(2),
    identitas_id7 character varying(2),
    identitas_id8 character varying(2),
    isi_text2 text,
    isi_text3 text,
    ada_nilai numeric(1,0) DEFAULT 1,
    judul_nilai character varying(60),
    isi_text4 text,
    ket_tempat_ttd character varying(100),
    nama_kepsek character varying(100),
    nip_kepsek character varying(50),
    ada_foto numeric(1,0) DEFAULT 0,
    ada_ttd numeric(1,0) DEFAULT 0,
    ada_kop numeric(1,0) DEFAULT 1,
    statuslulus numeric(1,0) DEFAULT 1,
    desimal_nilai numeric(1,0) DEFAULT 2,
    ada_ratarata numeric(1,0) DEFAULT 1,
    desimal_ratarata numeric(1,0) DEFAULT 2,
    sekolah_id uuid,
    set_namasiswa numeric(1,0) DEFAULT 1
);


ALTER TABLE public.tabel_setskl OWNER TO postgres;

--
-- Name: tabel_siswa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_siswa (
    peserta_didik_id uuid NOT NULL,
    nis character varying(20) NOT NULL,
    nisn character varying(13),
    nm_siswa character varying(100) NOT NULL,
    tempat_lahir character varying(50),
    tanggal_lahir date,
    jenis_kelamin character varying(1),
    agama character varying(25),
    alamat_siswa text,
    telepon_siswa character varying(20),
    diterima_tanggal date,
    nm_ayah character varying(100),
    nm_ibu character varying(100),
    pekerjaan_ayah character varying(30),
    pekerjaan_ibu character varying(30),
    nm_wali character varying(100),
    pekerjaan_wali character varying(30)
);


ALTER TABLE public.tabel_siswa OWNER TO postgres;

--
-- Name: tabel_siswa_pelengkap; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_siswa_pelengkap (
    pelengkap_siswa_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    peserta_didik_id uuid NOT NULL,
    status_dalam_kel character varying(30),
    anak_ke numeric(3,0),
    sekolah_asal character varying(100),
    diterima_kelas character varying(20),
    alamat_ortu text,
    telepon_ortu character varying(20),
    alamat_wali text,
    telepon_wali character varying(20),
    foto_siswa character varying(100),
    no_ijasahnas character varying(100),
    tgl_lulus date,
    no_transkrip character varying(100)
);


ALTER TABLE public.tabel_siswa_pelengkap OWNER TO postgres;

--
-- Name: tabel_sklidentitas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_sklidentitas (
    id smallint NOT NULL,
    nama_identitas character varying(100) NOT NULL,
    kolom character varying(100) NOT NULL,
    status numeric(1,0) NOT NULL
);


ALTER TABLE public.tabel_sklidentitas OWNER TO postgres;

--
-- Name: tabel_sumatif_pas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_sumatif_pas (
    sumatif_id uuid NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    rombongan_belajar_id uuid NOT NULL,
    peserta_didik_id uuid NOT NULL,
    nilai numeric(5,2) NOT NULL,
    jenis character varying(50) NOT NULL,
    semester_id character varying(5) NOT NULL,
    penilaian_ke smallint NOT NULL,
    targetcapaian character varying(200),
    capaian character varying(2),
    keterangan character varying(200),
    statuscapaian smallint,
    targetcapaian_id uuid,
    kd_capaian character varying(6),
    bobotsum smallint DEFAULT 1 NOT NULL
);


ALTER TABLE public.tabel_sumatif_pas OWNER TO postgres;

--
-- Name: tabel_tanggalrapor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_tanggalrapor (
    tanggal_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    semester_id character varying(5),
    tanggal date,
    semester numeric(1,0),
    tempat_ttd character varying(100),
    status_kepsek character varying(100),
    status_nip_kepsek character varying(50),
    status_nip_walas character varying(50),
    ttd_validasi smallint
);


ALTER TABLE public.tabel_tanggalrapor OWNER TO postgres;

--
-- Name: tabel_targetcapaian; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_targetcapaian (
    targetcapaian_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    tingkat_pendidikan_id numeric(2,0) NOT NULL,
    semester numeric(1,0) NOT NULL,
    kd_capaian character varying(6) NOT NULL,
    targetcapaian character varying(255) NOT NULL,
    status numeric(1,0) DEFAULT 1 NOT NULL,
    jenjang character varying(20) NOT NULL
);


ALTER TABLE public.tabel_targetcapaian OWNER TO postgres;

--
-- Name: tabel_targetcptp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_targetcptp (
    targetid uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    fase character varying(1) NOT NULL,
    targetcapaian_id uuid NOT NULL,
    id_kompetensi uuid NOT NULL
);


ALTER TABLE public.tabel_targetcptp OWNER TO postgres;

--
-- Name: user_login; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_login (
    userid character varying(50) NOT NULL,
    password character varying(128) NOT NULL,
    nama character varying(60) NOT NULL,
    level character varying(50) NOT NULL,
    ptk_id uuid,
    salt character varying(128),
    is_logged_in integer DEFAULT 0,
    tgl_daftar timestamp(6) without time zone,
    last_logged_in timestamp(6) without time zone,
    add_by bigint,
    ip_address character varying(45),
    photo character varying(255),
    status_edit integer,
    is_active integer DEFAULT 1 NOT NULL,
    email character varying(150),
    sub_you integer DEFAULT 0,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    last_logged_out timestamp(6) without time zone,
    thema character varying(100) DEFAULT 'sma-theme'::text,
    warnaheader character varying(100) DEFAULT ''::text,
    warnaside character varying(100) DEFAULT ''::text
);


ALTER TABLE public.user_login OWNER TO postgres;

--
-- Name: koneksi; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.koneksi (
    id_data uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    nama_app character varying(100),
    alamat_ip character varying(150),
    key character varying(150),
    port character varying(5) DEFAULT 5774,
    npsn character varying(15),
    ip_mpd character varying(150)
);


ALTER TABLE tambah.koneksi OWNER TO postgres;

--
-- Name: koneksi_ext; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.koneksi_ext (
    id_data uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    nama_app character varying(100),
    ip_ext character varying(150),
    key character varying(150),
    "user" character varying(100) DEFAULT 5774,
    pass character varying(100),
    id_sekolah character varying(100)
);


ALTER TABLE tambah.koneksi_ext OWNER TO postgres;

--
-- Name: log_nilaiakhir; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.log_nilaiakhir (
    id_log uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    anggota_rombel_id uuid,
    mata_pelajaran_id integer,
    semester_id character varying(5),
    nilai_peng_awal numeric(5,0),
    nilai_peng_akhir numeric(5,0),
    peserta_didik_id uuid,
    tgl_update timestamp(6) without time zone DEFAULT now(),
    pengguna_id uuid NOT NULL,
    keterangan text
);


ALTER TABLE tambah.log_nilaiakhir OWNER TO postgres;

--
-- Name: log_update; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.log_update (
    id_log uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    level character varying(50) NOT NULL,
    semester_id character varying(5),
    id_reflog uuid NOT NULL,
    status numeric(1,0) DEFAULT 0 NOT NULL,
    tgl_update timestamp(6) without time zone DEFAULT now() NOT NULL,
    pengguna_id uuid NOT NULL,
    keterangan text,
    data numeric(5,2)
);


ALTER TABLE tambah.log_update OWNER TO postgres;

--
-- Name: logo_ttdkepsek; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.logo_ttdkepsek (
    sekolah_id uuid NOT NULL,
    logo_pemda character varying(100),
    logo_sek character varying(100),
    ttd_kepsek character varying(100),
    kop_sekolah character varying(100)
);


ALTER TABLE tambah.logo_ttdkepsek OWNER TO postgres;

--
-- Name: mapel_gabung; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.mapel_gabung (
    id_data uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    mata_pelajaran_id_asal integer,
    mata_pelajaran_id integer,
    tingkat_pendidikan_id smallint,
    jenjang character varying(20),
    status numeric(1,0) DEFAULT 1
);


ALTER TABLE tambah.mapel_gabung OWNER TO postgres;

--
-- Name: mapel_grouptranskrip; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.mapel_grouptranskrip (
    id_data uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    mata_pelajaran_id_asal integer,
    mata_pelajaran_id integer,
    jenjang character varying(20),
    status numeric(1,0) DEFAULT 1
);


ALTER TABLE tambah.mapel_grouptranskrip OWNER TO postgres;

--
-- Name: mata_pelajaran_kurikulum; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.mata_pelajaran_kurikulum (
    kurikulum_id smallint NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    tingkat_pendidikan_id numeric(2,0) NOT NULL,
    jumlah_jam numeric(2,0) NOT NULL,
    jumlah_jam_maksimum numeric(2,0) NOT NULL,
    status_di_kurikulum numeric(2,0) NOT NULL,
    wajib numeric(1,0) NOT NULL,
    sks numeric(2,0) DEFAULT 0 NOT NULL,
    a_peminatan numeric(1,0) NOT NULL,
    area_kompetensi character(1) DEFAULT '*'::bpchar NOT NULL,
    gmp_id uuid,
    create_date timestamp(6) without time zone DEFAULT '2022-06-28 18:45:38.08'::timestamp without time zone NOT NULL,
    last_update timestamp(6) without time zone DEFAULT '2022-06-28 18:45:38.08'::timestamp without time zone NOT NULL,
    expired_date timestamp(6) without time zone,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL,
    CONSTRAINT ckc_area_kompetensi_mata_pel CHECK ((area_kompetensi = ANY (ARRAY['A'::bpchar, 'N'::bpchar, 'P'::bpchar, '*'::bpchar])))
);


ALTER TABLE tambah.mata_pelajaran_kurikulum OWNER TO postgres;

--
-- Name: ref_log; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.ref_log (
    id_reflog uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    level character varying(50) NOT NULL,
    status_utama numeric(1,0) DEFAULT 1 NOT NULL,
    keterangan text NOT NULL,
    menu_router character varying(30),
    urut numeric(5,0)
);


ALTER TABLE tambah.ref_log OWNER TO postgres;

--
-- Name: ref_mapping_mapeldapo; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.ref_mapping_mapeldapo (
    kurikulum_id smallint NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    tingkat_pendidikan_id numeric(2,0) NOT NULL,
    jumlah_jam numeric(2,0) NOT NULL,
    jumlah_jam_maksimum numeric(2,0) NOT NULL,
    status_di_kurikulum numeric(2,0) NOT NULL,
    wajib numeric(1,0) NOT NULL,
    sks numeric(2,0) DEFAULT 0 NOT NULL,
    a_peminatan numeric(1,0) NOT NULL,
    area_kompetensi character(1) DEFAULT '*'::bpchar NOT NULL,
    gmp_id uuid,
    create_date timestamp(6) without time zone DEFAULT '2022-06-28 18:45:38.08'::timestamp without time zone NOT NULL,
    last_update timestamp(6) without time zone DEFAULT '2022-06-28 18:45:38.08'::timestamp without time zone NOT NULL,
    expired_date timestamp(6) without time zone,
    last_sync timestamp(6) without time zone DEFAULT '1901-01-01 00:00:00'::timestamp without time zone NOT NULL
);


ALTER TABLE tambah.ref_mapping_mapeldapo OWNER TO postgres;

--
-- Name: tabel_map_transkrip; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_map_transkrip (
    id_data uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    mata_pelajaran_id integer NOT NULL,
    nm_lokal character varying(100),
    area_kompetensi character varying(2),
    klp_mpl smallint NOT NULL,
    urut integer
);


ALTER TABLE tambah.tabel_map_transkrip OWNER TO postgres;

--
-- Name: tabel_nilai_ijazah; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_nilai_ijazah (
    id_data uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    rombongan_belajar_id uuid,
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_nilai_ijazah OWNER TO postgres;

--
-- Name: tabel_nilai_klaper; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_nilai_klaper (
    id_data uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_nilai_klaper OWNER TO postgres;

--
-- Name: tabel_nilai_pkl; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_nilai_pkl (
    id_data uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    rombongan_belajar_id uuid,
    tahun_id character varying(4),
    kelompok_id uuid,
    anggota_kelompok_id uuid,
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_nilai_pkl OWNER TO postgres;

--
-- Name: tabel_nilai_rapor; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_nilai_rapor (
    id_data uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_nilai_rapor OWNER TO postgres;

--
-- Name: tabel_nilai_rapor_pts; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_nilai_rapor_pts (
    id_data uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_nilai_rapor_pts OWNER TO postgres;

--
-- Name: tabel_nilai_skl; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_nilai_skl (
    id_data uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    rombongan_belajar_id uuid,
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_nilai_skl OWNER TO postgres;

--
-- Name: tabel_nilai_tengah; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_nilai_tengah (
    id_data uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_nilai_tengah OWNER TO postgres;

--
-- Name: tabel_nilaiprojek; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_nilaiprojek (
    id_data uuid NOT NULL,
    tahun_ajaran character varying(4),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_nilaiprojek OWNER TO postgres;

--
-- Name: tabel_pelengkap; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_pelengkap (
    id_data uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_pelengkap OWNER TO postgres;

--
-- Name: tabel_sertifikat; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_sertifikat (
    id_data uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_sertifikat OWNER TO postgres;

--
-- Name: tabel_transkrip; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_transkrip (
    id_data uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_transkrip OWNER TO postgres;

--
-- Name: tabel_transkrip_nilai; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tabel_transkrip_nilai (
    id_data uuid NOT NULL,
    anggota_rombel_id uuid,
    semester_id character varying(5),
    semester numeric(1,0),
    peserta_didik_id uuid,
    link_download character varying(150),
    publish character varying(1) DEFAULT 0
);


ALTER TABLE tambah.tabel_transkrip_nilai OWNER TO postgres;

--
-- Name: tbl_nilaip3_k13; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.tbl_nilaip3_k13 (
    id_data integer NOT NULL,
    peserta_didik_id uuid NOT NULL,
    nis character varying(20),
    nisn character varying(13),
    nm_siswa character varying(100),
    semester_id character varying(5),
    dimensi_ke1 text,
    dimensi_ke2 text,
    dimensi_ke3 text,
    dimensi_ke4 text,
    dimensi_ke5 text,
    dimensi_ke6 text
);


ALTER TABLE tambah.tbl_nilaip3_k13 OWNER TO postgres;

--
-- Name: ttd_ptk; Type: TABLE; Schema: tambah; Owner: postgres
--

CREATE TABLE tambah.ttd_ptk (
    ptk_id uuid DEFAULT tambah.uuid_generate_v4() NOT NULL,
    file_ttd character varying(100),
    nama_ttd character varying(100)
);


ALTER TABLE tambah.ttd_ptk OWNER TO postgres;

--
-- Name: data_sync data_sync_pkey; Type: CONSTRAINT; Schema: nilai; Owner: postgres
--

ALTER TABLE ONLY nilai.data_sync
    ADD CONSTRAINT data_sync_pkey PRIMARY KEY (sync_id);


--
-- Name: pengguna pengguna_pkey; Type: CONSTRAINT; Schema: nilai; Owner: postgres
--

ALTER TABLE ONLY nilai.pengguna
    ADD CONSTRAINT pengguna_pkey PRIMARY KEY (pengguna_id);


--
-- Name: dpl_perkembangan dpl_perkembangan_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.dpl_perkembangan
    ADD CONSTRAINT dpl_perkembangan_pkey PRIMARY KEY (id_perkembangan);


--
-- Name: dpl_subdimensi dpl_subdimensi_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.dpl_subdimensi
    ADD CONSTRAINT dpl_subdimensi_pkey PRIMARY KEY (id_subdimensi);


--
-- Name: kegiatan_kokurikuler kegiatan_kokurikuler_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.kegiatan_kokurikuler
    ADD CONSTRAINT kegiatan_kokurikuler_pkey PRIMARY KEY (id_kegiatan);


--
-- Name: profil_capaian profil_capaian_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.profil_capaian
    ADD CONSTRAINT profil_capaian_pkey PRIMARY KEY (id_capaian);


--
-- Name: profil_dimensi profil_dimensi_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.profil_dimensi
    ADD CONSTRAINT profil_dimensi_pkey PRIMARY KEY (id_dimensi);


--
-- Name: profil_elemen profil_elemen_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.profil_elemen
    ADD CONSTRAINT profil_elemen_pkey PRIMARY KEY (id_elemen);


--
-- Name: profil_lulusan profil_lulusan_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.profil_lulusan
    ADD CONSTRAINT profil_lulusan_pkey PRIMARY KEY (id_dimensi);


--
-- Name: profil_project profil_project_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.profil_project
    ADD CONSTRAINT profil_project_pkey PRIMARY KEY (id_project);


--
-- Name: profil_subelemen profil_subelemen_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.profil_subelemen
    ADD CONSTRAINT profil_subelemen_pkey PRIMARY KEY (id_subelemen);


--
-- Name: profil_tema profil_tema_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.profil_tema
    ADD CONSTRAINT profil_tema_pkey PRIMARY KEY (id_tema);


--
-- Name: project_capaianprofil project_desk_profil_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.project_capaianprofil
    ADD CONSTRAINT project_desk_profil_pkey PRIMARY KEY (id_profil_projek);


--
-- Name: ref_penilaian ref_penilaian_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.ref_penilaian
    ADD CONSTRAINT ref_penilaian_pkey PRIMARY KEY (kd_nilai);


--
-- Name: targetcapaian_kokurikuler targetcapaian_kokurikuler_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.targetcapaian_kokurikuler
    ADD CONSTRAINT targetcapaian_kokurikuler_pkey PRIMARY KEY (id_target);


--
-- Name: tema_kokurikuler tema_kokurikuler_pkey; Type: CONSTRAINT; Schema: projec; Owner: postgres
--

ALTER TABLE ONLY projec.tema_kokurikuler
    ADD CONSTRAINT tema_kokurikuler_pkey PRIMARY KEY (id_tema);


--
-- Name: ref_klp_mapel ref_klp_mapel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_klp_mapel
    ADD CONSTRAINT ref_klp_mapel_pkey PRIMARY KEY (id);


--
-- Name: ref_teknik ref_teknik_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_teknik
    ADD CONSTRAINT ref_teknik_pkey PRIMARY KEY (teknik_id);


--
-- Name: ref_tingkatkelas ref_tingkatkelas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_tingkatkelas
    ADD CONSTRAINT ref_tingkatkelas_pkey PRIMARY KEY (tingkat_pendidikan_id);


--
-- Name: tabel_targetcapaian tabel_capaiantp_copy1_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_targetcapaian
    ADD CONSTRAINT tabel_capaiantp_copy1_pkey PRIMARY KEY (targetcapaian_id);


--
-- Name: tabel_capaiantp tabel_kompetensi_copy1_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_capaiantp
    ADD CONSTRAINT tabel_kompetensi_copy1_pkey PRIMARY KEY (id_kompetensi);


--
-- Name: tabel_nilai_dplguru tabel_nilai_dplguru_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_nilai_dplguru
    ADD CONSTRAINT tabel_nilai_dplguru_pkey PRIMARY KEY (id_dpl);


--
-- Name: tabel_nilai_karakter tabel_nilai_karakter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_nilai_karakter
    ADD CONSTRAINT tabel_nilai_karakter_pkey PRIMARY KEY (id_nilai);


--
-- Name: tabel_nilai_p3guru tabel_nilai_p3guru_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_nilai_p3guru
    ADD CONSTRAINT tabel_nilai_p3guru_pkey PRIMARY KEY (id_p3);


--
-- Name: tabel_nilai_formatif tabel_nilai_pengetahuan_copy1_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_nilai_formatif
    ADD CONSTRAINT tabel_nilai_pengetahuan_copy1_pkey PRIMARY KEY (formatif_id);


--
-- Name: tabel_nildplguru tabel_nildplguru_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_nildplguru
    ADD CONSTRAINT tabel_nildplguru_pkey PRIMARY KEY (id_dpl);


--
-- Name: tabel_sumatif_pas tabel_sumatif_pas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_sumatif_pas
    ADD CONSTRAINT tabel_sumatif_pas_pkey PRIMARY KEY (sumatif_id);


--
-- Name: tabel_targetcptp tabel_targetcptp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tabel_targetcptp
    ADD CONSTRAINT tabel_targetcptp_pkey PRIMARY KEY (targetid);


--
-- Name: user_login user_login_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login
    ADD CONSTRAINT user_login_pkey PRIMARY KEY (id, userid);


--
-- Name: log_update log_update_pkey; Type: CONSTRAINT; Schema: tambah; Owner: postgres
--

ALTER TABLE ONLY tambah.log_update
    ADD CONSTRAINT log_update_pkey PRIMARY KEY (id_log);


--
-- Name: logo_ttdkepsek logo_ttdkepsek_pkey; Type: CONSTRAINT; Schema: tambah; Owner: postgres
--

ALTER TABLE ONLY tambah.logo_ttdkepsek
    ADD CONSTRAINT logo_ttdkepsek_pkey PRIMARY KEY (sekolah_id);


--
-- Name: mata_pelajaran_kurikulum pk_mata_pelajaran_kurikulum; Type: CONSTRAINT; Schema: tambah; Owner: postgres
--

ALTER TABLE ONLY tambah.mata_pelajaran_kurikulum
    ADD CONSTRAINT pk_mata_pelajaran_kurikulum PRIMARY KEY (kurikulum_id, mata_pelajaran_id, tingkat_pendidikan_id);


--
-- Name: ref_log ref_log_pkey; Type: CONSTRAINT; Schema: tambah; Owner: postgres
--

ALTER TABLE ONLY tambah.ref_log
    ADD CONSTRAINT ref_log_pkey PRIMARY KEY (id_reflog);


--
-- Name: kompetensi_mapel_fk_copy1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX kompetensi_mapel_fk_copy1 ON public.tabel_capaiantp USING btree (mata_pelajaran_id);


--
-- Name: kompetensi_mapel_fk_copy1_copy1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX kompetensi_mapel_fk_copy1_copy1 ON public.tabel_targetcapaian USING btree (mata_pelajaran_id);


--
-- Name: kompetensi_mapel_fk_copy1_copy1_copy1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX kompetensi_mapel_fk_copy1_copy1_copy1 ON public.tabel_targetcptp USING btree (mata_pelajaran_id);


--
-- Name: tabel_kompetensi_pk_copy1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tabel_kompetensi_pk_copy1 ON public.tabel_capaiantp USING btree (id_kompetensi);


--
-- Name: tabel_kompetensi_pk_copy1_copy1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tabel_kompetensi_pk_copy1_copy1 ON public.tabel_targetcapaian USING btree (targetcapaian_id);


--
-- Name: tabel_kompetensi_pk_copy1_copy1_copy1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tabel_kompetensi_pk_copy1_copy1_copy1 ON public.tabel_targetcptp USING btree (targetid);


--
-- Name: tabel_nilai_dplguru_pk; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tabel_nilai_dplguru_pk ON public.tabel_nilai_dplguru USING btree (id_dpl);


--
-- Name: tabel_nilai_formatif_pk; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tabel_nilai_formatif_pk ON public.tabel_nilai_formatif USING btree (formatif_id);


--
-- Name: tabel_nilai_formatif_pk_copy1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tabel_nilai_formatif_pk_copy1 ON public.tabel_nilai_p3guru USING btree (id_p3);


--
-- Name: tabel_nilai_sumatif_pk; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tabel_nilai_sumatif_pk ON public.tabel_sumatif_pas USING btree (sumatif_id);


--
-- PostgreSQL database dump complete
--

