--
-- PostgreSQL database dump
--

-- Dumped from database version 14.17
-- Dumped by pg_dump version 14.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tabel_sekolah; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tabel_sekolah (
    sekolah_id uuid NOT NULL,
    nama character varying(100) NOT NULL,
    npsn character varying(8),
    nss character varying(12),
    alamat text,
    kd_pos character varying(6),
    telepon character varying(20),
    fax character varying(20),
    kelurahan character varying(60),
    kecamatan character varying(60),
    kab_kota character varying(60),
    propinsi character varying(60),
    website character varying(100),
    email character varying(50),
    nm_kepsek character varying(100),
    nip_kepsek character varying(25),
    niy_kepsek character varying(30),
    status_kepemilikan_id numeric(1,0) NOT NULL,
    kode_aktivasi character varying(30),
    jenjang character varying(20),
    bentuk_pendidikan_id smallint
);


ALTER TABLE public.tabel_sekolah OWNER TO postgres;

--
-- Name: user_login; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_login (
    userid character varying(50) NOT NULL,
    password character varying(128) NOT NULL,
    nama character varying(60) NOT NULL,
    level character varying(50) NOT NULL,
    ptk_id uuid,
    salt character varying(128),
    is_logged_in integer DEFAULT 0,
    tgl_daftar timestamp(6) without time zone,
    last_logged_in timestamp(6) without time zone,
    add_by bigint,
    ip_address character varying(45),
    photo character varying(255),
    status_edit integer,
    is_active integer DEFAULT 1 NOT NULL,
    email character varying(150),
    sub_you integer DEFAULT 0,
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    last_logged_out timestamp(6) without time zone,
    thema character varying(100) DEFAULT 'sma-theme'::text,
    warnaheader character varying(100) DEFAULT ''::text,
    warnaside character varying(100) DEFAULT ''::text
);


ALTER TABLE public.user_login OWNER TO postgres;

--
-- Data for Name: tabel_sekolah; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.tabel_sekolah VALUES ('aedd1501-5543-448f-b75b-d7e820d57515', 'SMAN 1 BANTARUJEG', '20213887', '3010216016  ', 'Jl. Siliwangi No. 119 Bantarujeg', '45464', '02338316545', NULL, 'Bantarujeg', 'Kec. Bantarujeg', 'Kab. Majalengka', 'Prov. Jawa Barat', 'http://sman1bantarujeg.sch.id', 'sman1btrg@gmail.com', 'Ading Rochendy, S.Pd., M.Pd.', '197109291995121002', NULL, 1, NULL, 'SMA', 13);


--
-- Data for Name: user_login; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.user_login VALUES ('0084201046', 'eb0ef0ecb72a87d94cb5d982a86ea248b9611b68fdf6052c45bd575c1db8cf9e92b5ab2c68238ca3790efa7b8b3a9e8c81a0093b7557edfbe52001a7a2018158', 'RISKA NIRMALA', 'Siswa', 'e380f976-1edb-11e4-af3f-2bb5e8f22a5c', '3ec530ab7e6637f3dd336b2471073499ccb574d0847d5486b3f0709c93e26d8135d5012779114d23b1780cd85c511d36e7b20ebbddfb71e4cd5d2f08a7fe3bbb', 0, NULL, NULL, NULL, NULL, NULL, 1, 1, '0084201046@erapor.id', 0, 'e380f976-1edb-11e4-af3f-2bb5e8f22a5c', NULL, 'sma-theme', '', '');
INSERT INTO public.user_login VALUES ('silmi', '2e47541daa39068d3b3df6cbc447af72b226d8d344049fb13607027b6c4031648eaae23e00909e2caf659d17b210f5404dc687e8f401404c3b44c83cf2b3d19e', 'Silmi Faris', 'Admin', NULL, 'f8b067c1a18fad456e7124b0282af9dc0cf4ee4de77f8f80357b85ee7cb79be116674cba150881e6e5d02db42761754654853670adb5e04799b80049970a7192', 0, NULL, NULL, NULL, NULL, NULL, 1, 1, 'silmifaris@gmail.com', 0, '7fbfe68e-9e8b-49d4-ba21-802c6383750b', NULL, 'sma-theme', '', '');
INSERT INTO public.user_login VALUES ('0093672049', 'eb0ef0ecb72a87d94cb5d982a86ea248b9611b68fdf6052c45bd575c1db8cf9e92b5ab2c68238ca3790efa7b8b3a9e8c81a0093b7557edfbe52001a7a2018158', 'RISDA NURHUDA', 'Siswa', '2c368258-46d6-11e5-803b-a3d71275a818', '3ec530ab7e6637f3dd336b2471073499ccb574d0847d5486b3f0709c93e26d8135d5012779114d23b1780cd85c511d36e7b20ebbddfb71e4cd5d2f08a7fe3bbb', 0, NULL, NULL, NULL, NULL, NULL, 1, 1, '0093672049@erapor.id', 0, '2c368258-46d6-11e5-803b-a3d71275a818', NULL, 'sma-theme', '', '');


--
-- Name: user_login user_login_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login
    ADD CONSTRAINT user_login_pkey PRIMARY KEY (id, userid);


--
-- PostgreSQL database dump complete
--

